{
  "env": "development",
  "data": {
    "app": {
      "port": 4000,
      "key": ""
    },
    "file_system": {
      "storage": ""
    },
    "db": {
      "host": "localhost",
      "port": 3306,
      "name": "",
      "user": "",
      "password": "",
      "pool_min": 0,
      "pool_max": 10,
      "charset": "utf8mb4",
      "date_string": true
    },
    "redis": {
      "host": "localhost",
      "port": 6379,
      "password": ""
    },
    "rate": {
      "window": 60,
      "limit": 500
    },
    "security": {
      "hash_secret": "",
      "cipher_secret": "",
      "aes_passphrase": "",
      "aes_salt": "",
      "rsa_bits": 2048
    }
  }
}